    /* #b68303;
    --maincolor1:  #b68303;
      --maincolor2:rgb(0, 0, 0); */
      /* --maincolor1: #e0ffc2;
      --maincolor2:#064734; */
      /*  --maincolor1: #abc8a2;
      --maincolor2:#1a2417; */
      /*   --maincolor1:#4c9db0;
      --maincolor2:#ffebaf; */
      /*   --maincolor1:#fe7f2d;
      --maincolor2:#233d4d; #4796a8 */
   :root{
      /* --maincolor1:#fdeab0;
      --maincolor2:#4796a8; */
      /* --maincolor1: #abc8a2;
      --maincolor2:#1a2417; */
      --maincolor1:white;
      --maincolor2:  #1d66be;
    }
    /* body {
    height: 130vh;
    background-color: #000;
    background-image: url("../../coding/image/test/886cd7a95f39ed3f92b30ee313623c4f.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */
  body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color:var(--maincolor1,red);
      color: #333;
    }
    
                               /* header & nav */
    header {
      box-sizing: border-box;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding: 2rem 4rem;
      margin-bottom: 40rem;
      background-color: var(--maincolor2,white);
      box-shadow: 7px 9px 19px black;
      height:4.5rem;
      width: 100%;
      border-radius: 40px;
      position: fixed; 
      top:33px;
      z-index: 1000;  
    }
    nav a {
      width: 100%;
      margin: 0 1.2rem;
      text-decoration: none;
      color:black;
      font-weight: 500;
      padding:10px;
      transition-duration: 0.1s;
    }
    nav a:hover{ 
      background-color: var(--maincolor1);
      color: black;
      border-radius: 20px;
    }
    .active1{
      background-color: var(--maincolor1);
      color: black;
      padding: 10px ;
      border-radius: 20px;
      box-shadow: 8px 8px 10px black;
    }
     .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
     box-shadow: 8px 8px 10px black;
}

    /* DROPDOWN MENU */

.dropdown_menu {
    display:none;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width :300px;
    background: rgba(0, 0, 0,0.8);
    backdrop-filter: blur(100px);
    border-radius :10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 280px;
    z-index: 1;
}
.dropdown_menu a{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 1;
    text-decoration: none;
    color: var(--maincolor2);
    font-weight: 500;
}
  .dropdown_menu a:hover{ 
      background-color: var(--maincolor1);
      color: black;
      padding: 10px ;
      border-radius: 20px;
    }


/* RESPONSIVE DESIGN */


@media (max-width:1200px){
    nav a{
        display: none;
    }

     .toggle_btn {
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

   
                                      /* intro text */
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6rem 3rem;
    }
    .hero-text h1 {
      color:var(--maincolor2);
      font-size: 4rem;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 2rem;
    }
    .hero-text button {
      height:5rem;
      width:11rem;
      padding: 1.5rem 2.5rem;
      margin-right: 1.0rem;
      border: none;
      outline: none;
      background-color: var(--maincolor2,white);
      color: white;
      font-weight: 600;
      border-radius: 45px;
      cursor: pointer;
      scale:unset;
      color: var(--maincolor1,red);
      box-shadow: 10px 10px 20px black;
    }
    .hero-text button:active{
      scale :0.95;
    }
    .hero-text .secondary {
      background-color: transparent;
      color: var(--maincolor2,white);
    }
                                 /* awa discription */
    .awa{
      display: flex;
      padding: 6rem  0rem;
    }
    .awa img{
      display:flex;
      justify-self: center;
      padding: 10px;
    }
     .awa p{
      padding: 40px;
      color:var(--maincolor2);
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      font-family:"Playwrite GB S", cursive; 
      cursor:default;
      /* margin-top:9rem; */
      /* text-shadow: 4px 4px 10px #ffffff; */
    }

   @media (max-width:855px){

    .hero-text h1 {
      font-size: 3rem;
      }
    .hero img{
      display: none;
    }
    .awa{
        flex-direction: column;
        align-items: center;
    }
    .awa img{
      width: 350px;
    }
    
    .footer-li {
      flex-direction: column;
    }
    .footer-li img{
      width: 250px;
      margin: auto;
    }
    footer .copy-right{
      font-size: 13px;
    }
    .product-2-grid{
      flex-direction: column;
      align-items: center;
    }

   }
                                   /* link to shop */
    .categories {
      display: flex;
      justify-content: space-around;
      padding: 9rem 0rem;
       width:100%;
    }
    .category {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
       width: calc(70%/3);
      height: 25rem;
      background-color:#ffffff;
      border:transparent;
      border-radius: 20px;
      box-shadow: 4px 4px 10px var(--maincolor2,white);
    }
    .category button{
      padding:5%  25%;
      background-color: var(--maincolor2,white);
      color :var(--maincolor1,red);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 30px;
      position: absolute;
      bottom:40px;
      left:45px;
      box-shadow: 4px 4px 10px var(--maincolor2,white);
    }
    .category button:active{
      scale: 0.95;
    }
    .word{
      padding: 20px 80px;
      color :var(--maincolor1,white);
      outline: none;
      position: absolute;
      bottom:90px;
    }
                                              /* why awa ? */
    .products-2 {
      backdrop-filter: blur(20px);
      padding: 50px;
      margin-top: 40px;
      border-top-left-radius: 70px;
      border-top-right-radius: 70px;
    }
    .product-2-grid {
      display: flex;
      gap: 24px;
      justify-content: center;
    }
    .product-2 {
      border: 1px solid #eee;
      border-radius: 12px;
      padding: 16px;
      width: 200px;
      height: 150px;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px var(--maincolor2,white);
      transition-duration: 0.5s;
    }
    .product-2:hover{
        transform: translateY(-10px);
     }
    .product-2 img {
      width: 100px;
      height: 100px;
    }
    .product-2 .price {
      margin: 10px 0;
      font-weight: 600;
    }
    .product-2 button {
      padding: 8px 12px;
      border: none;
      background-color: var(--maincolor2,white);
      color: white;
      border-radius: 6px;
      cursor: pointer;
    }
    .bord{
      background-color: white;
      text-align: center;
      text-shadow: var(--maincolor2,white);
      padding: 80px;
      font-size: 25px;
      font-family:"Playwrite GB S", cursive;
      text-shadow: 4px 4px 10px var(--maincolor2,white);
      margin-bottom: 100px;
      border-bottom-left-radius: 70px;
      border-bottom-right-radius:70px;
    }
                                    /* The side navigation menu */
    .sidebar {
      padding: 0;
      width: 220px;
      background-color: var(--maincolor1);
      position:absolute;
      top:108px;
      height: 100%;
      border-radius: 20px;
      overflow: auto;
      margin: 0;
    }

                                            /* Sidebar links */
    .sidebar a {
     display: block;
     padding: 16px;
     color: black;
     text-decoration: none;
     font-size: 13px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

                                           /* Active/current link */
    .sidebar a.active {
      background-color:var(--maincolor2);
      border-top-left-radius:20px;
      border-bottom-left-radius:20px;
      color: white;
    }

                                          /* Links on mouse-over */
    .sidebar a:hover:not(.active) {                      
     background-color: #555;
     border-top-left-radius:25px;
     border-bottom-left-radius:25px;
     color: white;
    }

      /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    div.content {
     margin-left: 220px;
     margin-top: 130px;
     padding: 1px 16px;
     overflow:hidden;
    }

       /* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
       .sidebar {
        width: 100%;
        height: auto;
       position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
  }

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 430px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

 
                                                  /* footer */
    footer{
      background-color: var(--maincolor2);
      color: var(--maincolor1);
      border-radius: 70px;
      width: 100%;
    }
     footer div h1{
      padding: 20px;
      font-size:50px;
      font-family:"Playwrite GB S", cursive;
      text-align: left;
      margin: 0px;
    }
    .footer-li{
      display: flex;
    }
     footer ul li {
      list-style: none;
      padding: 20px 110px 20px 20px;
       font-family:"Playwrite GB S", cursive; 
      text-decoration: none;
      color: var(--maincolor1);
     }
    .footer-li ul li a{
      font-family:"Playwrite GB S", cursive; 
      text-decoration: none;
      color: var(--maincolor1);
    }
    
     footer .copy-right{
      padding: 10px;
      text-align: center;
      font-family:"Playwrite GB S", cursive; 

     }


















